
@{
    ViewBag.Title = "CropDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<div class="content-wrapper" @*style="background-color:white !important"*@ style="background-image: url('/Content/img/bg_crop11.jpg');">
    <div class="container-fluid">

        <div class="row mb-2">

            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/Home/Dashboard">Home</a></li>
                    <li class="breadcrumb-item active"><a href="/"></a>Crops</li>


                </ol>
            </div>

        </div>
    </div>
    <section class="container-fluid"style="background-image: url('/Content/img/bg_crop11.jpg');">
        <div class="row">
            <div class="col-md-1 col-sm-6 col-12">
                <div class="custom-size"style="background-color:white!important">
                    <span info-box-content >
                        <img src="~/Images/cotton.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center;color:black!important">COTTON</small>
                       
                    </span>

                </div>

                
                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>
            <!-- /.col -->
            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/APPLE.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">APPLE</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>
            <div style="width:20px!important;">

            </div>
            <!-- /.col -->
            <div class="col-md-1 col-sm-6 col-12">
                <div class="custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/APRICOT.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">APRICOT</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>
            <div style="width:20px!important;">

            </div>
            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/BANANA.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">BANANA</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class="custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/CABBAGE.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">CABBAGE</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class="custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/CARROT.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">CARROT</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>
            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <small class="info-box-content">
                        <img src="~/Images/crops/CAULIFLOWER.jpg" width="60" height="50"/>
                        <small  style="text-align:left;font-size:11px!important;">CAULIFLOWER</small>

                    </small>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>
            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/CHERRY.jpg"width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">CHERRY</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/CITRUS FRUIT.jpg"width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">CITRUS FRUIT</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>


        </div>


        <div class="row">

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/COTTON.png" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">COTTON</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/CUCUMBER.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">CUCUMBER</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/CUCURBITS.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">CUCURBITS</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/Dates2.jpg"width="70" height="50"  />
                        <small class="info-box-text" style="text-align:center">Dates</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/FODDER.jpg" width="70" height="50"/>
                        <small class="info-box-text" style="text-align:center">FODDER</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class="custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/FRUITS.jpg"width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">FRUITS</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/GARLIC.jpg" width="70" height="50"/>
                        <small class="info-box-text" style="text-align:center">GARLIC</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/GINGER.jpg" width="70" height="50"/>
                        <small class="info-box-text" style="text-align:center">GINGER</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/GRAPEFRUIT.jpg"width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">GRAPEFRUIT</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>
        </div>
        <div class="row">

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/GRAPES.jpg" width="70" height="50"/>
                        <small class="info-box-text" style="text-align:center">GRAPES</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/GUAVA.jpg"width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">GUAVA</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/LEMONS.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">LEMONS</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/LICHEE.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">LICHEE</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/MANGO.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">MANGO</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/MELON.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">MELON</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/MILLET.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">MILLET</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/MINT.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">MINT</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/OKRA.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">OKRA</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>
        </div>

        <div class="row">

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/OLIVES.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">OLIVES</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/ONION.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">ONION</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/ORANGE.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">ORANGE</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/ORCHARD.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">ORCHARD</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/PAPAYA.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">PAPAYA</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/PEACH.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">MELON</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/PEANUT.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">PEANUT</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/PEAR.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">PEAR</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/PEAS.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">PEAS</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>
        </div>

        <div class="row">

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/PINEAPPLE.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">PINEAPPLE</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/PLUM.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">PLUM</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/POTATO.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">POTATO</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/RADISH.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">RADISH</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/RED SWEET PEPPER.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:start!important;font-size:10px!important;">RED SWEET PEPPER</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/RICE FLOWER.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">RICE FLOWER</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/RICE.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">RICE</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/ROSE.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">ROSE</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/SORGHUM.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">SORGHUM</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>
        </div>

        @*<div class="row">

            <div class="col-md-1 col-sm-6 col-12">
                <div class="info-box custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/PINEAPPLE.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">PINEAPPLE</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class="info-box custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/PLUM.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">PLUM</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class="info-box custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/POTATO.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">POTATO</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class="info-box custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/RADISH.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">RADISH</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class="info-box custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/RED SWEET PEPPER.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">RED SWEET PEPPER</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class="info-box custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/RICE FLOWER.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">RICE FLOWER</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class="info-box custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/RICE .jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">RICE</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class="info-box custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/ROSE.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">ROSE</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class="info-box custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/SOYA BEAN.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">SOYA BEAN</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>
        </div>*@

        <div class="row">

            <div class="col-md-1 col-sm-6 col-12">
                <div class="custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/WHEAT.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">WHEAT</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/WATERMELON.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">WATERMELON</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/VEGETABLES.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">VEGETABLES</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/TOMATO.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">TOMATO</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/TOBACCO.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">TOBACCO</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/SUNFLOWER.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">SUNFLOWER</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/SUGAR CANE.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">SUGAR CANE</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/STRAWBERRY.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">STRAWBERRY</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>

            <div class="col-md-1 col-sm-6 col-12">
                <div class=" custom-size">
                    <span class="info-box-content">
                        <img src="~/Images/crops/SPINACH.jpg" width="70" height="50" />
                        <small class="info-box-text" style="text-align:center">SPINACH</small>

                    </span>

                </div>


                <!-- /.info-box -->
            </div>

            <div style="width:20px!important;">

            </div>
        </div>
    </section>


</div>
